/* ImageRightBlock/ImageRightBlock.module.css */

.imageRightBlock {
	flex-shrink: 0;
	margin-top: -10px;
	margin-left: -220px;
}

@media (max-width: 767px) {
	.imageRightBlock {
		width: 348px;
		height: 328px;
		margin-left: 14px;
		margin-top: 39px;
	}

}