/* ImageRightBlock/ImageRightBlock.module.css */

.imageRightBlock {
    width: 629px;
    height: 593px;
    position: relative;
    flex-shrink: 0;
    margin-top: 120px;
    margin-right: 60px;
    z-index: auto;
    margin-left: -98px;
}

.imageRightBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 18px;
}

