/* ImageRightBlock/ImageRightBlock.module.css */

.imageRightBlock {
	position: absolute;
	width: 629px;
	height: 620px;
	flex-shrink: 0;
	left: 770px;
}

@media (max-width: 767px) {
	.imageRightBlock {
		position: relative;
		left: 10px;
		width: 348px;
		height: 328px;
	}
}

