/* SearchPageCharacters/SearchPageCharacters.module.scss */

.imgSearchPageCharacters {
  flex-shrink: 0;
  width: 470px;
  height: 443px;
  margin-left: 200px;
  margin-top: 20px;

  @media (max-width: 767px) {
    width: 380px;
    height: 403px;
    margin-left: 36px;
    margin-top: 25px;
  }
}
