
.titleTextBlock03 {
  color: #000;
  font-family: 'FerryBlack', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  width: 817px;
  position: relative;
  line-height: normal;
  letter-spacing: 0.45px;
  margin-top: 69px;
  margin-left: 60px;
  z-index: 1;
}