/* ResultPage.module.scss */

.resultPage {
  align-items: flex-start;
  flex-shrink: 0;
  background: #FFF;

  .first_block {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    background: #FFF;
  }

  .second_block {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }



}


