// HeaderContent.module.scss

@import '../../../styles/mixins/_typography';
@import '../../../styles/mixins/_var';

.header__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    display: inline-flex;
    justify-content: flex-start;
    gap: 194px;
  }

  &__burger {
    display: none;

    @media (max-width: 767px) {
      display: block;
      width: 30px;
      height: 25px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__logo {
    width: 141px;
    height: 141px;

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 767px) {
      width: 111px;
      height: 111px;
    }
  }

  /* Блок - навигационные ссылки */
  &__navLinks {
    @include text-base;
    a,
    span {
      @include link;
      margin-right: 25px;
      margin-left: 25px;

      &:hover {
        @include link;
      }
    }

    span:hover {
      text-decoration: none;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

}

.header__menu {

  @media (max-width: 767px) {
    display: none;
  }
}
