@import "../../../styles/mixins/_typography";
@import "../../../styles/mixins/_var";
@import "../../../styles/mixins/_media";

.searchFormCard__searchAreaLabel {
	display: flex;
}

.searchFormCard__searchAreaLabel_label {
	@include title-search-label;
	margin-top: -230px;
	margin-left: 98px;
}

.searchFormCard__searchAreaLabel_star {
	@include title-search-label-star;
	margin-top: -240px;
	margin-left: 0;
}


.searchFormCard__rightBlock {
	width: 428px;
	height: auto;
	position: absolute;
	left: 496px;
	top: 390px;
}

.searchFormCard__rightBlockSmallText {
	font-size: 14px;
	color: $gray-medium;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	letter-spacing: 0.42px;
	word-wrap: break-word;
	margin-top: -115px;
	margin-left: 555px;
}

.searchFormCard__searchButton {
	position: absolute;
	box-shadow: 0 0 20px $shadow-light;
	margin-top: -190px;
	margin-left: 550px;

	&__ButtonText {
		color: $white;
		font-size: 22px;
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		letter-spacing: 0.66px;
		word-wrap: break-word;
	}
}

// адаптивная верстка
@media (max-width: 767px) {
	.container {
		.leftBlock {
			width: 375px;
			height: 688px;
			margin-top: 35px;
			margin-bottom: 164px;
			margin-left: 0;
			align-items: center;

			&__inn {
				display: none;

				&__label {
					margin-top: 32px;
					margin-left: 14px;
				}

				&__input {
					@include input;
					top: 74px;
					left: 14px;
				}
			}

			&__tonality {
				top: 93px;
				margin-left: 14px;

				&__label {
					top: 14px;
					margin-left: 14px;
				}

				&__input {
					@include input;
					width: 242px;
					height: 43px;
					top: 189px;
					left: 14px;
				}
			}

			&__documentCount {
				width: 335px;

				&__label {
					display: none;
				}

				&__input {
					@include input;
					top: 301px;
					left: 44px;
				}
			}

			.leftBlockLabel {
				display: none;

				&__label {
					display: none;
				}
			}

			.leftBlock_dateInputs {
			}
		}

		.searchFormCard__rightBlock {
			display: none;

			.checkboxList {
				li {
					label {
						input {
						}

						&:hover {
							cursor: pointer;
						}
					}
				}
			}


		}

		.searchButtonSection {
			&__searchButton {
				width: 335px;
				height: 59px;
				margin-top: 565px;
				margin-left: 15px;

				&__ButtonText {
					font-size: 20px;
				}
			}

			&__rightBlockSmallText {
				margin-top: 655px;
				margin-left: 15px;
				font-size: 14px;
			}
		}
	}
}

