@import "../../../styles/mixins/_typography";
@import "../../../styles/mixins/_var";
@import "../../../styles/mixins/_media";

.container {
	width: 872px;
	height: 543px;
	//left: 0;
	//top: 0;
	position: relative;
	box-shadow: 0 0 20px $shadow;
	align-items: center;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 64px;
	margin-left: 53px;

	&__inn {
		width: 100%;
		height: 100%;

		&__label {
			left: 0;
			top: 8px;
			position: absolute;
			color: $black;
			font-size: 18px;
			font-family: 'Inter', sans-serif;
			font-weight: 400;
			letter-spacing: 0.54px;
			word-wrap: break-word;
			margin-top: 29px;
			margin-left: 44px;
		}

		&__input {
			@include input;
			top: 71px;
			left: 44px;
		}
	}

	&__tonality {
		width: 100%;
		height: 100%;

		&__label {
			left: 0;
			top: 8px;
			position: absolute;
			color: $black;
			font-size: 18px;
			font-family: 'Inter', sans-serif;
			font-weight: 400;
			letter-spacing: 0.54px;
			word-wrap: break-word;
			margin-top: 144px;
			margin-left: 44px;
		}

		&__input {
			@include input;
			top: 186px;
			left: 44px;
		}
	}

	&__documentCount {
		width: 100%;
		height: 100%;

		&__label {
			left: 0;
			top: 8px;
			position: absolute;
			color: $black;
			font-size: 18px;
			font-family: 'Inter', sans-serif;
			font-weight: 400;
			letter-spacing: 0.54px;
			word-wrap: break-word;
			margin-top: 259px;
			margin-left: 44px;
		}

		&__input {
			@include input;
			top: 301px;
			left: 44px;
		}
	}

	// Диапазон поиска*
	&__leftBlockLabel {
		left: 0;
		top: 8px;
		position: absolute;
		color: $black;
		font-size: 18px;
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		letter-spacing: 0.54px;
		word-wrap: break-word;
		margin-top: 383px;
		margin-left: 44px;
	}

	&__dateInputs {
		display: flex;
		flex-direction: row;
		margin-left: 44px;
		margin-top: -1225px;
	}

	&__rightBlock {
		width: 428px;
		height: auto;
		left: 496px;
		margin-top: -570px;
		position: absolute;

		&__checkboxList {
			li {
				label {
					input {
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}

	&__rightBlockSmallText {
		font-size: 14px;
		color: $gray-medium;
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		letter-spacing: 0.42px;
		word-wrap: break-word;
		margin-top: -115px;
		margin-left: 580px;
	}

	&__searchButton {
		width: 305px;
		height: 59px;
		background: $blue;
		position: absolute;
		box-shadow: 0 0 20px $shadow-light;
		border-radius: 5px;
		margin-top: -190px;
		margin-left: 580px;

		&__ButtonText {
			color: $white;
			font-size: 22px;
			font-family: 'Inter', sans-serif;
			font-weight: 500;
			letter-spacing: 0.66px;
			word-wrap: break-word;
		}
	}
}

// адаптивная верстка
@media (max-width: 767px) {
	.container {
		.leftBlock {
			width: 375px;
			height: 688px;
			margin-top: 35px;
			margin-bottom: 164px;
			margin-left: 0;
			align-items: center;

			&__inn {
				display: none;

				&__label {
					margin-top: 32px;
					margin-left: 14px;
				}

				&__input {
					@include input;
					top: 74px;
					left: 14px;
				}
			}

			&__tonality {
				top: 93px;
				margin-left: 14px;

				&__label {
					top: 14px;
					margin-left: 14px;
				}

				&__input {
					@include input;
					width: 242px;
					height: 43px;
					top: 189px;
					left: 14px;
				}
			}

			&__documentCount {
				width: 335px;

				&__label {
					display: none;
				}

				&__input {
					@include input;
					top: 301px;
					left: 44px;
				}
			}

			.leftBlockLabel {
				display: none;

				&__label {
					display: none;
				}
			}

			.leftBlock_dateInputs {
			}
		}

		.rightBlock {
			display: none;

			.checkboxList {
				li {
					label {
						input {
						}

						&:hover {
							cursor: pointer;
						}
					}
				}
			}


		}

		.searchButtonSection {
			&__searchButton {
				width: 335px;
				height: 59px;
				margin-top: 565px;
				margin-left: 15px;

				&__ButtonText {
					font-size: 20px;
				}
			}

			&__rightBlockSmallText {
				margin-top: 655px;
				margin-left: 15px;
				font-size: 14px;
			}
		}
	}
}

