@import "../../../styles/mixins/_mixins";

$white: #ffffff;
$black: #000000;
$gray-light: #C7C7C7;
$gray-medium: #949494;
$blue: #5970ff;
$shadow: rgba(0, 0, 0, 0.20);
$shadow-light: rgba(0, 0, 0, 0.05);

.container {
  width: 100%;
  height: 100%;
  position: relative;

  .leftBlock {
    width: 872px;
    height: 543px;
    left: 0;
    top: 0;
    position: absolute;
    background: $white;
    box-shadow: 0 0 20px $shadow;
    border-radius: 10px;
    margin-top: 38px;
    margin-left: 53px;
    align-items: center;

    &__inn {
      width: 242px;
      height: 43px;
      left: 44px;
      top: 71px;
      position: absolute;

      &__label {
        left: 0;
        top: 8px;
        position: absolute;
        color: $black;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.54px;
        word-wrap: break-word;
        margin-top: 29px;
        margin-left: 44px;
      }

      &__input {
        @include input;
        top: 71px;
        left: 44px;
      }


      &__tonality {
      left: 0;
      top: 8px;
      position: absolute;
      color: $black;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      letter-spacing: 0.54px;
      word-wrap: break-word;
    }

      &__input {
        @include input;
        top: 71px;
        left: 44px;
      }

      &__hint {
        @include hint;

        left: 92px;
        top: 63px;

      }

      &__required {
        left: 140px;
        top: 0;
        position: absolute;
        color: $black;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.75px;
        word-wrap: break-word;
      }
    }

    &__tonality {
      width: 242px;
      height: 43px;
      left: 44px;
      top: 186px;
      position: absolute;

      &__label {
        left: 0;
        top: 8px;
        position: absolute;
        color: $black;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.54px;
        word-wrap: break-word;
        margin-top: 144px;
        margin-left: 44px;
      }


      &__input {
        @include input;
        top: 186px;
        left: 44px;
      }


      &__hint {
        @include hint;

        left: 92px;
        top: 63px;

      }

      &__required {
        left: 140px;
        top: 0;
        position: absolute;
        color: $black;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.75px;
        word-wrap: break-word;
      }
    }

    &__documentCount {
      width: 242px;
      height: 43px;
      left: 44px;
      top: 301px;
      position: absolute;

      &__label {
        left: 0;
        top: 8px;
        position: absolute;
        color: $black;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.54px;
        word-wrap: break-word;
        margin-top: 259px;
        margin-left: 44px;
      }

      &__input {
        @include input;
        top: 301px;
        left: 44px;
      }


      &__hint {
        @include hint;
        left: 92px;
        top: 63px;

      }

      &__required {
        left: 140px;
        top: 0;
        position: absolute;
        color: $black;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.75px;
        word-wrap: break-word;
      }
    }

    .leftBlockLabel {
      left: 0;
      top: 8px;
      position: absolute;
      color: $black;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      letter-spacing: 0.54px;
      word-wrap: break-word;
      margin-top: 383px;
      margin-left: 44px;

      &__label {
        left: 0;
        top: 8px;
        position: absolute;
        color: $black;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.54px;
        word-wrap: break-word;
      }
    }

    &__dateInputs {
      //width: 242px;
      //height: 43px;
      left: 0;
      top: 425px;
      display: flex;
      margin-left: 0;
      position: absolute;
      background: $white;
      box-shadow: 0 0 20px $shadow-light;
      border-radius: 5px;
      border: 1px $gray-light solid;

      &::placeholder {
        color: $gray-medium;
      }

      &__hint {
        left: 44px;
        top: 0;
        position: absolute;
        color: $black;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.75px;
        word-wrap: break-word;
      }

      &__required {
        left: 240px;
        top: 0;
        position: absolute;
        color: $black;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        letter-spacing: 0.75px;
        word-wrap: break-word;
      }
    }
  }

  .rightBlock {
    width: 428px;
    height: 589px;
    left: 496px;
    top: 0;
    position: absolute;

    .checkboxList {
      li {
        label {
          input {
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }




    .searchButton {
      width: 305px;
      height: 59px;
      right: -65px;
      bottom: -15px;
      background: $blue;
      position: relative;
      box-shadow: 0 0 20px $shadow-light;
      border-radius: 5px;

      &__ButtonText {
        color: $white;
        font-size: 22px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        letter-spacing: 0.66px;
        word-wrap: break-word;
      }
    }
  }
}
