/* MainPage.module.scss */

.mainPage {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  padding: 20px 60px 0 60px;
}

.mainPage__upperBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  padding-bottom: 120px;
}

.mainPage__tariffCardSection {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.mainPage__blueCloudImage {
  width: 1200px;
  margin-top: 50px;
  margin-left: 51px;
  margin-right: 82px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .mainPage {
    display: block;
    width: 375px;
    height: 3518px;

    padding: 0 26px 0 14px;
  }

  .mainPage__upperBlocks {
    display: block;
  }

  .mainPage__tariffCardSection {
    display: block;
    margin-left: 14px;
    margin-right: 26px;
  }

  .mainPage__blueCloudImage {
    width: 891px;
    height: 393px;
    margin-top: 80px;
    margin-right: -530px;
    margin-left: 14px;
  }
}
