/* MainPage.module.scss */

.mainPage {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	height: auto;

	padding: 20px 60px 0 60px;

	&__upperBlocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	&__tariffCardSection {
		display: flex;
		justify-content: space-between;
		//margin-left: 60px;
		//margin-right: 60px;
	}

	&__blueCloudImageM {
		display: none;
	}
}

@media (max-width: 767px) {
	.mainPage {
		display: block;
		width: 375px;
		height: 3518px;

		padding: 0 26px 0 14px;

		&__upperBlocks {
			display: block;
		}

		&__blueCloudImageM {
			width: 232px;
			height: auto;
		}

		&__tariffCardSection {
			display: block;
			margin-left: 14px;
			margin-right: 26px;

		}
	}

}
