// SecondTitleText.module.scss
@import "../../../styles/mixins/_var";
@import "../../../styles/mixins/_typography";

.titleTextBlock {
	@include title-text-h2;
	margin-left: 60px;
	margin-top: 90px;
}

@media (max-width: 767px) {
	.titleTextBlock {
		font-size: 28px;
		letter-spacing: 0.28px;
		margin: 0;
		padding: 80px 0 0 14px;
	}
}