// ResultPage/TitleTextResultPage/TitleTextResultPage.module.scss

.titleTextBlock04 {
  max-width: 510px;
  color: #000;
  font-family: 'FerryBlack', sans-serif;
  font-size: clamp(24px, 4vw, 40px);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.60px;
  padding-top: 69px;
  margin-left: 60px;

  .title-text {
    white-space: pre-wrap;
  }


}