// DateInput.module.scss
@import "../../../../styles/mixins/typography";
@import "../../../../styles/mixins/_var";

.dateInput {
  display: flex;
  flex-direction: row;
  margin-top: 560px;

  .dateInput__errorLabel {
    @include error-login-text;
    position: absolute;
    top: 480px;
    left: 120px;
  }

  &__startDate,
  &__endDate {
    @include input;
    width: 176px;
    position: relative;

    &:hover {
      border-color: $blue;
    }
  }

  &__startDate {
    flex: 1;
    margin-right: 20px;
  }

  &__inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__dateInputIcon {
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-top: 10px;
  }

  &__placeholder {
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $gray-light;
    position: absolute;
    top: 0;
    left: 85px;
    transform: translate(-50%, -50%);
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker {
    &__portal {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  }
}
