// DateInput.module.scss
@import "../../../../styles/mixins/typography";
@import "../../../../styles/mixins/_var";

.dateInput {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  &__dateLabel {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $gray-light;
    margin-bottom: 10px;
  }

  &__firstDate {
    @include input;
    flex: 1;
    width: 176px;
    position: relative;
    margin-right: 20px;

    &:hover {
      border-color: $blue;
    }
  }

  &__inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__dateInputIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  &__placeholder {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $gray-light;
    margin-bottom: 10px;
  }

  &__secondDate {
    @include input;
    width: 176px;
    position: relative;

    &:hover {
      border-color: $blue;
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker {
    &__portal {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  }
}