/* SearchPage.module.scss */

.searchPage {
  display: flex;

  align-items: flex-start;
  flex-shrink: 0;
  background: #FFF;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.leftColumn {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.rightColumn {
  height: 100vh;
  width: 100%;
  margin-top: 115px;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .document {
    width: 91px;
    height: 111px;
    margin-left: 138px;

    @media (max-width: 767px) {
      width: 59px;
      height: 72px;
      margin-left: 291px;
      margin-top: -765px;
    }
  }

  .folders {
    width: 91px;
    height: 111px;
    margin-left: 390px;
    margin-top: -85px;

    @media (max-width: 767px) {
      display: none;
    }
  }

}

.leftTextUnderTitleBlock {
  width: 534px;
  display: block;
  margin-top: 25px;
  min-width: 743px;
  padding-left: 60px;
  position: relative;
  right: -5px;

  @media (max-width: 767px) {
    font-size: 18px;
    width: 100%;
    padding-left: 14px;
    right: 0;

  }
}

.leftSmallText {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}