/* ResultPage/ImageRightBlock/ImageRightBlock.module.css */

.imageRightBlock {
    width: 533px;
    height: 369px;
    //margin-top: 25px;
    margin-left: 190px;
    padding-top: 25px;
    margin-bottom: 84px;
}
