/* BlueCloudImage/BlueCloudImage.module.scss */

.imgBlueCloudImage {
	display: flex;
	margin-top: 50px;
	margin-left: 51px;
	margin-right: 82px;
	object-fit: cover;
}

@media (max-width: 767px) {
	.imgBlueCloudImage {
		width: 891px;
		height: 393px;
		margin-top: 80px;
		margin-right: -530px;
		margin-left: 14px;
	}
}