// ResultPage/TitleTextBlock04/TitleTextBlock04.module.scss

.titleTextBlock04 {
  width: 509px;
  height: 69px;
  color: #000;
  font-family: 'FerryBlack', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.60px;
  padding-top: 69px;
  padding-left: 60px;

  .title-text {
    white-space: pre-wrap;
  }


}