// SearchTitleTextBlock-01.module.scss
.titleTextBlock {
	width: 100%;
	height: auto;
	color: #000;
	font-family: 'FerryBlack', sans-serif;
	font-size: 45px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.45px;
	margin: 80px 0 50px 0;
}

@media (max-width: 767px) {
	.titleTextBlock {
		width: 274px;
		height: 68px;
		font-size: 28px;
		letter-spacing: 0.28px;
		margin-left: 14px;
		margin-top: 56px;
	}
}