
.titleTextBlock {
	color: #000;
	font-family: 'FerryBlack', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 900;
	width: 800px;
	position: relative;
	line-height: normal;
	letter-spacing: 0.45px;
	padding: 30px 0 0 60px;

}

.titleTextBlock__text {
	white-space: pre-wrap;
}


@media (max-width: 767px) {
  .titleTextBlock {
		width: 335px;
		height: 104px;
    font-size: 22px;
    margin-top: 31px;
    margin-left: 14px;
  }

}