/* SearchPageCharacters/SearchPageCharacters.module.scss */

.imgLoginPageCharacters {
	flex-shrink: 0;
	width: 322px;
	height: 342px;
	margin-left: -1278px;
	margin-top: 300px;
}

@media (max-width: 767px) {
	.imgLoginPageCharacters {
		//position: absolute;
		width: 335px;
		height: 356px;
		margin: 54px 26px 20px 14px;

	}
}
