/* LoginPage.module.scss */

.loginPage {
  display: flex;
  //justify-content: space-between;
  width: 1440px;
  height: 672px;
  align-items: flex-start;
  flex-shrink: 0;
  background: #FFF;
}

//.leftCharacters {
//  margin-left: 141px;
//  margin-right: 947px;
//}

//.rightColumn {
//  margin-top: 67px;
//  margin-right: 511px;
//  margin-left: -296px;
//}

//.leftColumn {
//  margin-left: 60px;
//  margin-right: 60px;
//}