/* LoginPage.module.scss */

.loginPage {
	display: flex;
	justify-content: space-between;
	width: 1440px;
	height: 672px;
	align-items: flex-start;
	flex-shrink: 0;
	background: #FFF;

	&__padLock {
		position: absolute;
		margin-left: 835px;
		margin-top: 20px;
		z-index: 1;
	}
}

@media (max-width: 767px) {
	.loginPage {
		display: block;

		width: 375px;
		height: 1380px;

		&__padLock {
			position: absolute;
			width: 76px;
			height: 92px;
			margin-left: 95px;
			margin-top: 69px;
		}
	}
}

