// CheckboxList.module.scss
@import "../../../../styles/mixins/_var";

.checkboxList {
	&__label {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		cursor: pointer;

		&_checked {
			.checkboxList__text {
				color: $black;
			}
		}
	}

	&__checkbox {
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 1px solid $gray-light;
		border-radius: 4px;
		margin-right: 10px;

		&_checked {
			border-color: $black;
		}
	}

	&__text {
		font-size: 18px;
		font-family: 'Inter', sans-serif;
		color: $gray-light;
		margin-left: 10px;

		&_checked {
			color: $black;
		}
	}

	&__icon {
		width: 14px;
		height: 14px;
		margin-left: 1px; /* Пример отступа между текстом и иконкой галочки */
	}
}