// CheckboxList.module.scss
@import "../../../../styles/mixins/_var";

.checkboxList {
  &__item {
    &__label {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px; /* Пример отступа между чекбоксами */

      &__input {
        margin-right: 8px;
        margin-top: 5px; /* Скорректирован отступ для более центрированного вида */
      }

      &__text {
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        color: $black; /* Замените $black на ваш цвет текста */
        margin-left: 10px; /* Пример отступа между чекбоксом и текстом */
      }

      &__icon {
        width: 14px;
        height: 14px;
        margin-left: 5px; /* Пример отступа между текстом и иконкой галочки */
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
