//
.leftTextUnderTitleBlock {
  width: 534px;
  position: absolute;
  padding-left: 60px;
  padding-top: 201px;

  .leftSmallText {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }
}
