/* AuthenticatedUserInfo.module.scss */
@import "../../../styles/mixins/_typography";
/* Блок - пользовательская информация */
.userInfo {
	display: flex;
	flex-shrink: 0;
	align-items: center;

	/* Блок - панель пользователя */
	.userInfo__userPanel {
		position: relative;
		width: 175px;
		min-width: 175px;
		height: 63px;
		margin-right: 128px;

		/* Элемент - прямоугольник панели */
		&__userPanel_userPanelRectImg {
			width: 100%;
			height: auto;
		}

		/* Блок - контейнер информации о компании */
		&__companyInfo {
			/* Элементы - информация о компании */
			&Used,
			&Limit,
			&TextUsed,
			&TextLimit {
				position: absolute;
			}

			&Used {
				left: 140px;
				top: 12px;
				color: black;
				font-size: 14px;
				font-family: 'Inter', sans-serif;
				font-weight: 700;
				word-wrap: break-word;
			}

			&Limit {
				left: 140px;
				top: 31px;
				color: #8AC540;
				font-size: 14px;
				font-family: 'Inter', sans-serif;
				font-weight: 700;
				word-wrap: break-word;
			}

			&TextUsed {
				left: 10px;
				top: 14px;
				opacity: 0.40;
				color: black;
				font-size: 10px;
				font-family: 'Inter', sans-serif;
				font-weight: 400;
				word-wrap: break-word;
			}

			&TextLimit {
				left: 27px;
				top: 33px;
				opacity: 0.40;
				color: black;
				font-size: 10px;
				font-family: 'Inter', sans-serif;
				font-weight: 400;
				word-wrap: break-word;
			}

			/* Элемент - текст для использованных компаний */
			&TextUsed {}

			/* Элемент - текст для лимита */
			&TextLimit {}
		}
	}
}

/* Блок - текстовый контейнер */
.userInfo__userPanelTextContainer {
	/* Блок - текст юзера */
	&__userNameText {
		@include text-base;

	}

	/* Блок - текст выхода */
	&__logoutText {
		display: flex;
		justify-content: flex-end;
		color: black;
		opacity: 0.40;
		font-size: 10px;
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		word-wrap: break-word;
		cursor: pointer;
	}
}

/* Блок - аватар */
.userInfo__avatar {
	margin-left: 4px;
}


/* Медиа-запрос */
@media (max-width: 767px) {
	.userInfo {
		display: none;

		&__userPanel {
			margin-right: 10px;
		}
	}
}
