// AuthenticatedUserInfo.module.scss

.logoutText {
  color: black;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer; /* Добавляем указатель мыши, чтобы пользователь понимал, что это интерактивный элемент */
}

.userInfo {
  display: flex;
  align-items: center;
}

.avatar {
  // Стили для аватара
}
