// AppHeader.module.scss

@import '../../styles/mixins/_mixins';

.header {
    width: 1440px;
    height: 93px;
    flex-shrink: 0;
    background: #fff;

    &__content {
        @include textStyles;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
        color: #000;
    }

    &__navLinks {
        a,
        span {
            @include link;
            margin-right: 49px;

            &:hover {
                @include link;
            }
        }

        span:hover {
            text-decoration: underline;
        }
    }

    &__auth {
        display: flex;
        align-items: center;

        a {
            @include link;
            margin-right: 10px;

            &:hover {
                @include link;
            }
        }
    }
}
