// LeftTextBlock.module.scss
@import "../../../styles/mixins/_typography";
@import "../../../styles/mixins/_var";

.leftTextBlock {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-width: 743px;
	max-width: 550px;
	margin-top: 45px;
}

.leftTextBlock__title {
	color: $black;
	font-family: 'FerryBlack', sans-serif;
	font-size: 3.75rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.6px;
	z-index: 1;
}

.leftTextBlock__leftSmallText {
	width: 534px;
	margin-top: 20px;
	color: $black;
	font-family: 'Inter', sans-serif;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.2px;
}

.leftTextBlock__fetchButton {
	margin-top: 70px;
}

.leftTextBlock__fetchButton_active {
	background-color: darken($blue, 10%);
}

.leftTextBlock__fetchButton__text {
	color: $white;
	font-family: 'Inter', sans-serif;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.22px;
}

@media (max-width: 767px) {
	.leftTextBlock {
		display: block;
		margin-top: 20px;
		padding-left: 14px;
	}

	.leftTextBlock__title {
		width: 361px;
		height: 136px;
		font-size: 28px;
		font-style: normal;
		letter-spacing: 0.28px;
	}

	.leftTextBlock__leftSmallText {
		width: 327px;
		height: 66px;
		font-size: 18px;
		letter-spacing: 0.18px;
		margin-top: 19px;
	}

	.leftTextBlock__buttonBlueUnderText {
		font-size: 20px;
		letter-spacing: 0.20px;
	}
}