/* fonts.scss */

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FerryBlack';
    src: url('../public/fonts/ferry_black.woff') format('woff');
}
