@import "../../../../styles/mixins/_typography";
@import "../../../../styles/mixins/_var";
@import "../../../../styles/mixins/_media";

.searchFormCard {
	width: 872px;
	height: 543px;
	position: relative;
	box-shadow: 0 0 20px $shadow;
	align-items: center;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 64px;
	margin-left: 53px;
}

.searchFormCard__inn {
	display: flex;
}

.searchFormCard__inn_label {
	@include title-search-label;
	padding: 29px 0 0 44px;
}

.searchFormCard__inn_label_star {
	@include title-search-label-star;
	padding: 21px 0 0 0;
}

.searchFormCard__inn_input {
	@include input;
	margin-left: 44px;
	margin-top: 20px;
}

.searchFormCard__inn__errorLabel {
	@include error-login-text;
	margin-top: 2px;
	margin-left: 64px;
}

.searchFormCard__tonality_label {
	@include title-search-label;
	padding: 11px 0 0 44px;
}

.searchFormCard__tonality_input {
	@include input;
	margin-left: 44px;
	margin-top: 20px;
}

.searchFormCard__documentCount {
	display: flex;
}

.searchFormCard__documentCount_input {
	@include input;
	margin-left: 44px;
	margin-top: 20px;
}

.searchFormCard__documentCount_label {
	@include title-search-label;
	padding: 30px 0 0 44px;
}

.searchFormCard__documentCount_label_star {
	@include title-search-label-star;
	padding: 20px 0 0 0;
}

.searchFormCard__documentCount__errorLabel {
	@include error-login-text;
	margin-top: -110px;
	margin-left: 90px;
}

//.searchFormCard__inn__errorLabel_hidden {
//	display: none;
//}

// Диапазон поиска*
.searchFormCard__leftBlockLabel {
	@include title-search-label;
	margin-top: 383px;
	margin-left: 44px;
}

.searchFormCard__dateInputs {
	display: flex;
	flex-direction: row;
	margin-left: 44px;
	margin-top: -1225px;
}