// LoginForm.module.scss
@import "../../../styles/mixins/_var";
@import "../../../styles/mixins/_typography";

.loginForm {
	width: 429px;
	height: 523px;
	background: $white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	position: relative;
	margin-top: 69px;
	margin-left: -95px;
}

.loginForm__enterText {
	display: flex;
	position: relative;
	margin-bottom: 60px;
}

.loginForm__login {
	color: $green;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
	word-wrap: break-word;
	margin-left: 77px;
	margin-top: 25px;
	position: relative;
}

.loginForm__boldLine {
	width: 151px;
	height: 2px;
	background: $green;
	position: absolute;
	margin-top: 52px;
	margin-left: 25px;
}

.loginForm__signup {
	color: $gray-light;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
	word-wrap: break-word;
	margin-left: 77px;
	margin-top: 25px;
	position: relative;
}

.loginForm__line {
	width: 213px;
	height: 2px;
	background: $gray-light;
	position: absolute;
	margin-top: 52px;
	margin-left: 188px;
}

.loginForm__button {
	width: 379px;
	height: 59px;
	flex-shrink: 0;
	border-radius: 5px;
	background: $blue;
	margin-left: 25px;
	margin-top: 15px;
	margin-bottom: 15px;

	.loginForm__button_text {
		color: $white;
		font-family: 'Inter', sans-serif;
		font-size: 22px;
		font-weight: 500;
		letter-spacing: 0.22px;
		word-wrap: break-word;
	}
}

.loginForm__recoverPass {
	color: $blue;
	@include text-base;
	letter-spacing: 0.28px;
	word-wrap: break-word;
	margin-left: 140px;
}

.loginForm__enterSmallText {
	color: $gray-light;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.32px;
	word-wrap: break-word;
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: 10px;
}

.loginForm__socialIcons {
	display: flex;
	margin-bottom: 39px;

	.loginForm__socialIcons_google {
		margin-left: 25px;
	}

	.loginForm__socialIcons_facebook {
		margin-left: 10px;
	}

	.loginForm__socialIcons_yandex {
		margin-left: 10px;
	}
}



@media (max-width: 767px) {
	.cardContainer {
		width: 335px;
		height: 504px;
		margin-left: 14px;
		margin-top: 145px;

		.contentContainer {
			width: 335px;
			height: 504px;
		}

		.boldLine {
			width: 103px;
			margin-top: 52px;
			margin-left: 15px;
		}

		.line {
			width: 182px;
			margin-top: 52px;
			margin-left: 138px;
		}

		.enter {
			display: flex;
			position: relative;
		}

		.enterHr {
			display: flex;
		}


		.enter1 {
			font-size: 14px;
			letter-spacing: 0.28px;
			margin-left: 46px;
			margin-top: 25px;
		}

		.enter2 {
			font-size: 14px;
			letter-spacing: 0.28px;
			margin-left: 70px;
			margin-top: 25px;
		}

		.input {
			width: 379px;
			height: 43px;
			flex-shrink: 0;
			border-radius: 5px;
			//background: #c7c7c7;
			margin-left: 25px;
			margin-top: 28px;
		}

		.loginForm__button {
			width: 305px;
			height: 59px;
			margin: 40px 15px 15px;
		}

		.buttonText {
			font-size: 20px;
			letter-spacing: 0.40px;
		}

		.enterLoginText {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.32px;
			word-wrap: break-word;
			margin-left: 25px;
			margin-top: 40px;
		}

		.enterPasswordText {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.32px;
			word-wrap: break-word;
			margin-left: 25px;
			margin-top: 20px;
		}

		.recoverPass {
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.28px;
			word-wrap: break-word;
			margin-left: 90px;
		}

		.enterText {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.32px;
			word-wrap: break-word;
			margin-left: 15px;
			margin-top: 20px;
			margin-bottom: 15px;
		}

		.socialIcons {
			display: flex;
			margin-bottom: 20px;

			.google {
				margin-left: 15px;
			}

			.facebook {
				margin-left: 9px;
			}

			.yandex {
				margin-left: 9px;
			}
		}
	}
}
