// LoginForm.module.scss

.container {
  width: 429px;
  height: 523px;
  left: 0;
  top: 0;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  margin-right: 141px;
  margin-top: 50px;
  margin-bottom: 80px;

}