// _mixins.scss

// Миксин для общих стилей текста
@mixin textStyles {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}

// Миксин для стилей ссылок
@mixin link {
  text-decoration: none;
  color: #888;

  &:hover {
    text-decoration: underline;
    color: #000;
  }
}

// Миксин для стилей инпутов
@mixin input {
  width: 242px;
  height: 43px;
  position: absolute;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px #C7C7C7 solid;

  &::placeholder {
    color: #949494;
  }
}

