// _typography.scss
@import '../../styles/mixins/_var';

// Миксин для текста футера
@mixin footer-text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// Миксин для общих стилей текста
@mixin text-base {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
}

// Миксин для стилей карточек тарифов
@mixin labelStyles {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.18px;
  word-wrap: break-word;
  margin-top: 5px;
}

// Миксин для стилей ссылок
@mixin link-disabled {
  color: $gray-light;
  text-decoration: none;
  pointer-events: none;

  &:hover {
    color: $gray-light;
    cursor: default;
    text-decoration: none;
  }
}

// Миксин для стилей текста в карточках тарифов
@mixin itemStyles {
  color: black;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: 0.20px;
  word-wrap: break-word;
}

// Миксин для стилей ссылок
@mixin link {
  text-decoration: none;
  color: #888;

  &:hover {
    text-decoration: underline;
    color: #000;
  }
}

// Миксин для стилей инпутов
@mixin input {
  width: 242px;
  height: 43px;
  position: absolute;
  background: var($white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px var($gray-light) solid;


  &::placeholder {
    color: var($gray-medium);
  }
}

