@import "../../styles/mixins/_typography";
@import "../../styles/mixins/_var";

@mixin fontSize($size) {
    font-size: $size;
    letter-spacing: $size * 0.07;
}

.footer {
    width: 1440px;
    height: 137px;
    flex-shrink: 0;
    background-color: var($green);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
}

.textBlock {
    width: 199px;
    text-align: right;
    @include footer-text;
    @include fontSize(14px);
    margin-right: 45px;
}

.textMoskow {
    @include footer-text;
    @include fontSize(14px);
    color: var($white);
}

.textCopyright {
    @extend .textMoskow;
    @include fontSize(12px);
}

