// UnauthenticatedUserPanel.module.scss
@import '../../../styles/mixins/_media';
@import '../../../styles/mixins/_typography';
@import '../../../styles/mixins/_var';

.unauthenticatedUser {
  @include text-base;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-left: 170px;
}

.unauthenticatedUser__slash {
  margin-right: 20px;
  margin-left: 7px;
}

.unauthenticatedUser__link {
  @include link;
  margin-right: 10px;
}

.unauthenticatedUser__button {
  width: 65px;
  height: 26px;
  flex-shrink: 0;
  margin-top: 0;
  border-radius: 5px;
  background: #7CE3E1;
  color: black;
}

// Адаптивные стили
@media (max-width: 767px) {
  .unauthenticatedUser {
    display: none;
  }
}
